/* overriding bootstrap classes */
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 .row {
   margin-left: 0px;
   margin-right: 0px;
 }


.tabs_button {
  margin-left: 5px;
  padding: 5px 0px;
}

/* Custom checkbox */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
  height: 22px;
  width: 22px;
  background-color: #28a745;
}
.container-checkbox:hover input ~ .checkmark { background-color: #1e7e34; }
.container-checkbox input:checked ~ .checkmark { background-color: #28a745; }
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-checkbox input:checked ~ .checkmark:after { display: block; }
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.normalize {
  position: absolute;
  margin: 25px 0px 0px 300px;
}

/* bootstrap 4 tooltips restyling */
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #1e7e34;
    border-radius: .25rem;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #1e7e34;
}

.opis-nav, .opis-nav a {
  background-color: #28a745;
  color: #fff;
  font-size: 1.25rem;
}

.nav-link.active {
  color: #fff !important;
  background-color: #1e7e34 !important;
  border: 0px solid !important;
}
