$color_main: #00897b;

.opis-logo-menu {
  border-bottom: 2px solid $color_main;
}
.opis-logo-menu a {
  padding-top: 5px;
}
.opis-logo-menu a img {
  width: 134px;
  height: 25px;
}

.navbar-toggler {
  border: 0 !important;
  padding: 0;
  outline: none !important;
  color: #fff;

  .navbar-toggler-icon {
    width: 90px;
    text-align: start;
    line-height: 30px;
  }
}

.nav-link {
  border: 0 !important;
  text-decoration: none !important;
  outline: none !important;
}
