<div class="opis-select" [class.open]="isOpen()" [class.open-up]="openUp()">
  <button type="button" class="opis-select__trigger" (click)="toggle()">
    <span [class.placeholder]="!value()">{{ selectedLabel() }}</span>

    <opis-icon class="opis-select__arrow" iconName="expand_more" />
  </button>

  @if (isOpen()) {
    <ul class="opis-select__dropdown" role="listbox">
      @for (option of options(); track option.value) {
        <li role="option" class="opis-select__option" [class.selected]="value()?.value === option.value"
          (click)="select(option)">
          {{ option.label }}
        </li>
      }
    </ul>
  }
</div>