<section id="cds-{{ cds()?.id }}" [class.loading]="isAllInfoLoading()" class="cds-selection_wrap">
  @if (isAllInfoLoading()) {
    <opis-loader />
  } @else {
    <div #graphDesc class="graph-description" [style.min-height.px]="minHeight()">
      @if (infoCds.hasValue() && graphSelected.hasValue()) {
        @let graph = graphSelected.value();

        <div class="graph-description_left">
          <h2>{{ graph.label }}</h2>

          <p>
            {{ graph.description }}
          </p>

          @if (selectorOptions()) {
            <opis-select
              [options]="selectorOptions()!"
              placeholder="Seleziona..."
              (changed)="onSelectorChange($event)"
            />
          }
        </div>

        @if (activeGraph()) {
          <opis-graph [dataChart]="activeGraph()!" />
        } @else {
          <div class="graph-description_right">
            
            @if (infoTeaching.isLoading()) {
              <opis-loader />
            } @else {
              <div class="error">
                <opis-icon iconName="report_off" dimension="5rem" />
                <h2>{{ msgError() }}</h2>
              </div>
            }

          </div>
        }
      }
    </div>

    @if (infoCds.status() === ERR_STATUS || graphSelected.status() === ERR_STATUS) {
      <div class="error">
        <opis-icon iconName="report_off" dimension="5rem" />
        <h2>Qualcosa è andato storto :/</h2>
      </div>
    }
  }
</section>
