.cds-selection {
  &_wrap {
    &.loading {
      opis-loader {
        margin: 10rem auto;
        display: flex;
        justify-content: center;
      }
    }

    .error {
      margin: 2rem auto;
      width: 80%;
      text-align: center;
      color: var(--red-500);

      h2 {
        margin-top: 1rem;

        @media (min-width: 1000px) {
          width: 70%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .graph-description {
      &_left {

        p {
          margin: 0.8rem 0 1.8rem;
        }
      }

      @media (min-width: 1000px) {
        display: flex;
        justify-content: space-between;

        &_left {
          flex: 0 0 35%;
        }

        opis-graph {
          flex: 0 0 65%;
        }
      }
    }
  }
}
