<section id="cds-{{ cds()?.id }}" [class.loading]="infoCds.isLoading()" class="cds-selection_wrap">
  @if (infoCds.isLoading()) {
    <opis-loader />
  } @else {

    <div class="graph-description">
      @if (infoCds.hasValue() && graphSelected.hasValue()) {
        @let cds = infoCds.value();
        @let graph = graphSelected.value();
  
        <p>
          {{ graph.description }}
        </p>
  
  
        @if (cds.graphs[graph.value] !== null) {
          <opis-graph [dataChart]="cds.graphs[graph.value]!" />
        } @else {
          <div class="error">
            <opis-icon iconName="report_off" dimension="5rem" />
            <h2>No data :/</h2>
          </div>
        }
  
      }
    </div>

    @if (infoCds.status() === ERR_STATUS || graphSelected.status() === ERR_STATUS) {
      <div class="error">
        <opis-icon iconName="report_off" dimension="5rem" />
        <h2>Qualcosa è andato storto :/</h2>
      </div>
    }
  }
</section>
