language: node_js
node_js:
  - '12'
dist: bionic
sudo: required
services:
  - xvfb
addons:
    chrome: stable
before_script:
  - export DISPLAY=:99.0
  - cd opis-manager
install:
  - cd opis-manager
  - npm set progress=false
  - npm install
script:
  - ng lint
  - npm run build
