.opis-footer {
  background-color: var(--dark-bg);
  color: var(--color-surface);
  padding: 2rem 0.5rem;
  margin-top: 3rem;

  .columns {
    @media (min-width: 800px) {
      flex: 0 0 25%;
    }
  }

  .footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    margin: 0 auto;
    width: 90%;

    .opis-info {
      .img-container {
        background-color: var(--gray-200);
        padding: 0.8rem 0.7rem 0.6rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .links {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: var(--gray-400);

        .opis-license {
          display: inline-flex;
          align-items: center;
          justify-content: start;
          gap: 0.2rem;

          small {
            text-decoration: underline;
            margin-bottom: 0.4rem;
            display: block;
          }
        }
      }

      @media (min-width: 800px) {
        margin-top: 1rem;
        flex: 0 0 40%;
        max-width: 30%;
      }
    }

    .opis-contributors {
      display: flex;
      flex-direction: column;

      .list {
        position: relative;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: 205px;
        overflow-y: scroll;
        scrollbar-width: none;
        -moz-scrollbars-none: none;

        /* Chrome, Edge, Safari */
        &::-webkit-scrollbar {
          display: none;
        }

        a {
          text-decoration: underline;
          font-size: 0.9rem;
        }

        .contribute {
          color: var(--red-500);
          text-decoration: none;
          font-size: 0.8rem;
        }
      }
    }

    .opis-description {
      margin: 0 auto;

      .quote {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        font-size: 1.5rem;
        text-align: center;
        margin: 3rem 0;

        @media (min-width: 1000px) {
          margin-top: 5rem;
        }
      }
    }
  }
}
