<div class="container">
  <br>

  <h2 class="text-danger">Modello per l'individuazione di indici atti a monitorare i servizi didattici</h2>
  <p>La scheda OPIS viene suddivisa in tre parti, ciascuna contenente un gruppo di n domande e viene effettuata una prima valutazione relativamente a ciascun gruppo. Consideriamo la generica domanda D<sub>j</sub> del gruppo e assegniamo valori numerici agli esiti secondo la seguente</p>

  <br>

  <table class="table table-bordered formula-table">
    <tr>
      <td>DECISAMENTE NO</td>
      <td>E<sub>1</sub></td>
      <td>1</td>
    </tr>
    <tr>
      <td>PIÙ NO CHE SÌ</td>
      <td>E<sub>2</sub></td>
      <td>4</td>
    </tr>
    <tr>
      <td>PIÙ SÌ CHE NO</td>
      <td>E<sub>3</sub></td>
      <td>7</td>
    </tr>
    <tr>
      <td>DECISAMENTE SI</td>
      <td>E<sub>4</sub></td>
      <td>10</td>
    </tr>
  </table>


  <br>
  <p>Sia X<sub>ij</sub>  il numero di studenti che hanno dato la risposta E<sub>i</sub> alla domanda D<sub>j</sub> e sia N il numero complessivo di studenti.</p>

  <ng-katex-paragraph [paragraph]="paragraphContent"></ng-katex-paragraph>

  <p align="center">La valutazione dell'intero corso è così una terna di numeri – uno per ciascun gruppo - (V<sub>1</sub>, V<sub>2</sub>, V<sub>3</sub>).</p>

  <br>

  <h2 class="text-center text-danger">Valutazioni, domande e relativi pesi</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Domande</th>
        <th>Pesi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>V1</td>
        <td>1 - Le conoscenze preliminari possedute sono risultate sufficienti per la comprensione degli argomenti previsti nel programma d'esame?</td>
        <td>0.7</td>
      </tr>
      <tr>
        <td>V1</td>
        <td>2 - Il carico di studio dell'insegnamento è proporzionato ai crediti assegnati?</td>
        <td>0.3</td>
      </tr>
      <tr>
        <td>V1</td>
        <td>11 - È interessato/a agli argomenti trattati nell'insegnamento?</td>
        <td>0.3</td>
      </tr>
      <tr>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>V2</td>
        <td>4 - Le modalità di esame sono state definite in modo chiaro?</td>
        <td>0.1</td>
      </tr>
      <tr>
        <td>V2</td>
        <td>5 - Gli orari di svolgimento di lezioni, esercitazioni e altre eventuali attività didattiche sono rispettati?</td>
        <td>0.3</td>
      </tr>
      <tr>
        <td>V2</td>
        <td>9 - L'insegnamento è stato svolto in maniera coerente con quanto dichiarato sul sito web del corso di studio?</td>
        <td>0.3</td>
      </tr>
      <tr>
        <td>V2</td>
        <td>10 - Il docente è reperibile per chiarimenti e spiegazioni?</td>
        <td>0.3</td>
      </tr>
      <tr>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>V3</td>
        <td>3 - Il materiale didattico (indicato e disponibile) è adeguato per lo studio della materia?</td>
        <td>0.1</td>
      </tr>
      <tr>
        <td>V3</td>
        <td>6 - Il docente stimola/motiva l'interesse verso la disciplina?</td>
        <td>0.5</td>
      </tr>
      <tr>
        <td>V3</td>
        <td>7 - Il docente espone gli argomenti in modo chiaro?</td>
        <td>0.4</td>
      </tr>
      <tr>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td></td>
        <td>8 - Le attività didattiche integrative (esercitazioni, tutorati, laboratori, ... etc) sono utili all'apprendimento della materia?</td>
        <td>0.0</td>
      </tr>
      <tr>
        <td></td>
        <td>12 - È complessivamente soddisfatto/a dell'insegnamento?</td>
        <td>0.0</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>

</div>