<div class="text-center">
  <div class="list-option-container">
    Seleziona insegnamento:
    <br>
    <select class="btn btn-opis text-center" id="selTeaching" [(ngModel)]="selectedTeaching"
      (ngModelChange)="updateTeachingChart()">
      <option class="text-center">--</option>
      <option class="text-center" *ngFor="let teaching of teachings; let i = index" [ngValue]="i">
        {{ teachings[i].nome }}
        {{ teachings[i].canale != 'no' && teachings[i].canale != '' ? '('+teachings[i].canale+')' : '' }}
        {{ teachings[i].nome_modulo != null ? ' - ' + teachings[i].nome_modulo : '' }}
      </option>
    </select>
  </div>
</div>

<div>
  <div *ngIf="selectedTeaching != null">
    <ul class="nav nav-tabs" id="tabs">
      <li class="nav-item tabs_button"><button class="btn btn-opis" (click)="switchVal(1)"
          [ngClass]="switcherValues === 1 ? 'selected-tab' : ''">V1</button></li>
      <li class="nav-item tabs_button"><button class="btn btn-opis" (click)="switchVal(2)"
          [ngClass]="switcherValues === 2 ? 'selected-tab' : ''">V2</button></li>
      <li class="nav-item tabs_button"><button class="btn btn-opis" (click)="switchVal(3)"
          [ngClass]="switcherValues === 3 ? 'selected-tab' : ''">V3</button></li>
      <li class="nav-item-right tabs_button" (click)="toggleStats()"><button class="btn btn-opis">Stats</button></li>
    </ul>

    <br>

    <div id="teaching-stats" *ngIf="selectedTeaching != null">
      <div [hidden]="!showTeachingStats" class="card" style="margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">Codice Insegnamento:
            <b>{{ teachings[selectedTeaching].codice_gomp }} {{ teachings[selectedTeaching].canale }} {{ teachings[selectedTeaching].nome_modulo }} </b>
          </h5>
          <div class="container">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-2">
                <b>Valutazione</b> 
              </div>
              <div class="col-2">
               <b>N. schede</b> 
              </div>
            </div>
            <div class="row">
              <div class="col-2"><b>Media CDS</b></div>
              <div class="col-2" id="v1-cds-mean" [hidden]="switcherValues != 1"></div>
              <div class="col-2" id="v2-cds-mean" [hidden]="switcherValues != 2"></div>
              <div class="col-2" id="v3-cds-mean" [hidden]="switcherValues != 3"></div>
              <div class="col-2" id="n-cds-mean"></div>
            </div>
            <div class="row">
              <div class="col-2"><b>Media Ins.</b></div>
              <div class="col-2" id="v1-ins-mean" [hidden]="switcherValues != 1"></div>
              <div class="col-2" id="v2-ins-mean" [hidden]="switcherValues != 2"></div>
              <div class="col-2" id="v3-ins-mean" [hidden]="switcherValues != 3"></div>
              <div class="col-2" id="n-ins-mean"></div>
            </div>
            <div class="row">
              <div class="col-2"><b>Varianza</b></div>
              <div class="col-2" id="v1-var" [hidden]="switcherValues != 1"></div>
              <div class="col-2" id="v2-var" [hidden]="switcherValues != 2"></div>
              <div class="col-2" id="v3-var" [hidden]="switcherValues != 3"></div>
              <div class="col-2" id="n-var"></div>
            </div>
            <div class="row">
              <div class="col-2"><b>Dev. std.</b></div>
              <div class="col-2" id="v1-devstd" [hidden]="switcherValues != 1"></div>
              <div class="col-2" id="v2-devstd" [hidden]="switcherValues != 2"></div>
              <div class="col-2" id="v3-devstd" [hidden]="switcherValues != 3"></div>
              <div class="col-2" id="n-devstd"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-value-details [switcher]="switcherValues"></app-value-details>

    <div id="v1-teaching" [hidden]="switcherValues != 1"></div>
    <div id="v2-teaching" [hidden]="switcherValues != 2"></div>
    <div id="v3-teaching" [hidden]="switcherValues != 3"></div>
  </div>
</div>

<br>
<br>

<div class="custom-slider slider-years" style="width: 500px;">
  <ng5-slider class="addons-bar" [value]="minValue" [highValue]="maxValue" [options]="optionsSlider"
    *ngIf="selectedTeaching" [manualRefresh]="manualRefresh" (valueChange)="updateTeachingChart()"></ng5-slider>
</div>
