<div class="container">

  <br>
  <div class="jumbotron text-center opis-style">
    <img src="assets/logo.png" class="opis-logo">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4><fa-icon [icon]="faUsers" size="lg" class="opis-icon"></fa-icon> Creato e gestito da studenti</h4>
        <p>L'OPIS-Manager è stato realizzato da studenti del Dipartimento di Matematica e Informatica sulla base del modello matematico elaborato dalla <strong>Commissione Paritetica del DMI</strong></p>
      </div>
      <div class="col-sm-4">
        <h4><fa-icon [icon]="faCubes" size="lg" class="opis-icon"></fa-icon> Per tutto l'Ateneo</h4>
        <p>Compatibile con tutti i Corsi di Laurea di ogni Dipartimento dell'Ateneo dell'Università di Catania</p>
      </div>
      <div class="col-sm-4">
        <h4><fa-icon [icon]="faGithub" size="lg" class="opis-icon"></fa-icon> Open Source</h4>
        <p>Chiunque può contribuire allo sviluppo dell'<a href="https://github.com/UNICT-DMI/OPIS-Manager">OPIS-Manager</a> poichè esso è Open Source ed è rilasciato sotto licenza <a href="https://github.com/UNICT-DMI/OPIS-Manager/blob/master/LICENSE">GPLv3.0</a></p>
      </div>
    </div>

    <br>

    <h2 class="text-center">Questo progetto è stato realizzato da:</h2>

    <br>

    <ul class="list-group opis-contributors">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Stefano Borzì
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/Helias"                    role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:stefanoborzi32@gmail.com"        role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://linkedin.com/in/stefanoborzi/"  role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://github.com/Helias"              role="button"><fa-icon [icon]="faGithub"   size="lg" class="opis-icon"></fa-icon></a>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Pierpaolo Pecoraio
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/Pierpaolo791"                        role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:pierpaolo.pecoraio@gmail.com"              role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://www.linkedin.com/in/pierpaolo-pecoraio/"  role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://github.com/Pierpaolo791"                  role="button"><fa-icon [icon]="faGithub"   size="lg" class="opis-icon"></fa-icon></a>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Alessandro Catalano
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/Wornairz"                                role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:alessandrocatalano999@gmail.com"               role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://www.linkedin.com/in/wornairz/"                role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://github.com/Wornairz"                          role="button"><fa-icon [icon]="faGithub"   size="lg" class="opis-icon"></fa-icon></a>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Lemuel Puglisi
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/charlemgn"                                 role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:lemuelpuglisi001@gmail.com"                      role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://www.linkedin.com/in/lemuel-puglisi-b3280a16b/"  role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://github.com/LemuelPuglisi"                       role="button"><fa-icon [icon]="faGithub"   size="lg" class="opis-icon"></fa-icon></a>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Simone Scionti
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/SimoneScionti"                             role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:simonescionti@yahoo.com"                         role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://www.linkedin.com/in/simone-scionti-108a51143/"  role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <!-- <a class="btn-lg" target="_blank" href="https://github.com/Helias" role="button"><fa-icon [icon]="faGithub" size="lg" class="opis-icon"></fa-icon></a> -->
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Alessio Piazza
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/Squalex95"                                 role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:alessiopiazza117@gmail.com"                      role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://www.linkedin.com/in/alessio-piazza-70bb59136/"  role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://github.com/Squalex95"                           role="button"><fa-icon [icon]="faGithub"   size="lg" class="opis-icon"></fa-icon></a>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Diego Sinitò
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/zeridos"                     role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:dsinito@dmi.unict.it"              role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://www.linkedin.com/in/diegosinito/" role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <!-- <a class="btn-lg" target="_blank" href="https://github.com/Helias" role="button"><fa-icon [icon]="faGithub" size="lg" class="opis-icon"></fa-icon></a> -->
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Salvo Asero
        <span class="badge-pill">
          <a class="btn-lg" target="_blank" href="https://t.me/SalAsero"                              role="button"><fa-icon [icon]="faTelegram" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="mailto:SalAsero24@gmail.com"                        role="button"><fa-icon [icon]="faEnvelope" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://www.linkedin.com/in/salvo-asero-2a19a620a/" role="button"><fa-icon [icon]="faLinkedin" size="lg" class="opis-icon"></fa-icon></a>
          <a class="btn-lg" target="_blank" href="https://github.com/Guberlo/" role="button"><fa-icon [icon]="faGithub" size="lg" class="opis-icon"></fa-icon></a>
        </span>
      </li>
    </ul>

    <br>
    <br>
    <br>

  </div>

</div>
