$color_main: #00897b;
$color_light: #fff;

.opis-style {
	background-color: $color_main;
	color: $color_light;
}
.opis-contributors {
    max-width: 700px;
    margin: 0 auto;
}
.opis-logo {
    width: 100%;
    height: auto;
}
