<div class="text-center">
  <div class="list-option-container">
    Seleziona insegnamento:
    <br>
    <select class="btn btn-opis text-center" id="selTeaching" [(ngModel)]="selectedTeaching"
      (ngModelChange)="updateTeachingChart()">
      <option class="text-center">--</option>
      <option class="text-center" *ngFor="let teaching of teachings; let i = index" [ngValue]="i">
        {{ teachings[i].nome }}
        {{ teachings[i].canale != 'no' && teachings[i].canale != '' ? '('+teachings[i].canale+')' : '' }}
        {{ teachings[i].nome_modulo != null ? ' - ' + teachings[i].nome_modulo : '' }}
      </option>
    </select>
  </div>
</div>

<div>
  <div *ngIf="selectedTeaching != null">
    <ul class="nav nav-tabs" id="tabs">
      <li class="nav-item tabs_button"><button class="btn btn-opis" (click)="switchVal(1)"
          [ngClass]="switcherValues === 1 ? 'selected-tab' : ''">V1</button></li>
      <li class="nav-item tabs_button"><button class="btn btn-opis" (click)="switchVal(2)"
          [ngClass]="switcherValues === 2 ? 'selected-tab' : ''">V2</button></li>
      <li class="nav-item tabs_button"><button class="btn btn-opis" (click)="switchVal(3)"
          [ngClass]="switcherValues === 3 ? 'selected-tab' : ''">V3</button></li>
      <li class="nav-item-right tabs_button" (click)="toggleStats()"><button class="btn btn-opis">Stats</button></li>
    </ul>

    <br>

    <div id="teaching-stats" *ngIf="selectedTeaching != null">
      <div [hidden]="!showTeachingStats" class="card" style="margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">Codice Insegnamento:
            <b>{{ teachings[selectedTeaching].codice_gomp }} {{ teachings[selectedTeaching].canale }} {{ teachings[selectedTeaching].nome_modulo }} </b>
          </h5>
          <div class="container">
            <div class="row">
              <div class="col-3" id="v-stats">
                <p> <b>Valutazione:</b> </p>
                <p class="card-text" id="v1-stats" [hidden]="switcherValues !== 1"></p>
                <p class="card-text" id="v2-stats" [hidden]="switcherValues !== 2"></p>
                <p class="card-text" id="v3-stats" [hidden]="switcherValues !== 3"></p>
              </div>
              <div class="col-3">
                <p> <b>N. schede:</b> </p>
                <p id="s-stats"> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-value-details [switcher]="switcherValues"></app-value-details>

    <div id="v1-teaching" [hidden]="switcherValues != 1"></div>
    <div id="v2-teaching" [hidden]="switcherValues != 2"></div>
    <div id="v3-teaching" [hidden]="switcherValues != 3"></div>
  </div>
</div>

<br>
<br>

<div class="custom-slider slider-years" style="width: 500px;">
  <ng5-slider class="addons-bar" [value]="minValue" [highValue]="maxValue" [options]="optionsSlider"
    *ngIf="selectedTeaching" [manualRefresh]="manualRefresh" (valueChange)="updateTeachingChart()"></ng5-slider>
</div>
