<div class="container-fluid">


  <div class="row">

    <div class="col-12 text-center">

      <br>
      <p>Scegli un dipartimento:</p>

      <select class="btn btn-success" (change)="showCds($event.target.value)">
        <option>--</option>
        <option *ngFor="let department of departments" [value]="department.id"> {{ department.nome }} </option>
      </select>

    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-12">

      <br><br>

      <ul class="nav nav-tabs" id="tabs">
        <li class="nav-item tabs_button" *ngFor="let c of cds">
          <button class="btn btn-success" (click)="selectCds(c.id)" [ngClass]="selectedCds == c.id ? 'selected-cds' : ''">{{ c.nome + " " + c.classe }}</button>
        </li>
      </ul>

      <br>

      <div [hidden]="!selectedCds">
        <div class="container-switcher">
          <div class="segmented">
            <label (click)="enableOption(1)" [ngClass]="currentOption == 1 ? 'checked' : ''"><span>Anno accademico</span></label>
            <label (click)="enableOption(2)" [ngClass]="currentOption == 2 ? 'checked' : ''"><span>Insegnamento   </span></label>
          </div>
        </div>

        <br>
        <div [hidden]="currentOption != 1" class="text-center">
          <div class="list-option-container">
            Seleziona anno:
            <br>
            <select class="btn btn-success text-center switch-years" [(ngModel)]="selectedYear" (ngModelChange)="getDataForYear()">
              <option class="text-center">--</option>
              <option class="text-center" *ngFor="let year of config.years" [ngValue]="year"> {{ year }} </option>
            </select>
          </div>
        </div>

        <div [hidden]="currentOption != 2" class="text-center">
          <div class="list-option-container">
            Seleziona insegnamento:
            <br>
            <select class="btn btn-success text-center" [(ngModel)]="selectedTeaching">
              <option class="text-center">--</option>
              <option class="text-center" *ngFor="let teaching of teachings" [ngValue]="teaching.id"> {{ teaching.nome }} {{ teaching.canale != 'no' && teaching.canale != '' ? '('+teaching.canale+')' : '' }}</option>
            </select>
          </div>
        </div>

        <div [hidden]="(currentOption == 1 && !selectedYear) || (currentOption == 2 && !selectedTeaching) || (!selectedYear && !selectedTeaching)">
          <ul class="nav nav-tabs" id="tabs">
            <li class="nav-item tabs_button">
              <button class="btn btn-success">V1</button>
            </li>
            <li class="nav-item tabs_button">
              <button class="btn btn-success">V2</button>
            </li>
            <li class="nav-item tabs_button">
              <button class="btn btn-success">V3</button>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>

</div>
