$color_dark: #00695c;
$color_light: #fff;
$color_main: #00897b;
$font_family_1: "Helvetica Neue";

.container-switcher {
  float: left;
  position: relative;
  padding: 3px;
  top: 13px;
  margin: 0px 0;
  width: 400px;
}

.segmented {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-size: 90%;
  text-align: center;

  label {
    box-sizing: border-box;
    border: 1px solid darkgrey;
    border-right: none;
    color: $color_dark;
    margin: 0;
    padding: 10px;
    height: 50px;
    text-align: center;
    display: table;
    flex: 1;

    transition: .5s all;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;

    &:first-child {
      border-radius: .4em 0 0 .4em;
      border-right: 0;
    }

    &:last-child {
      border-radius: 0 .4em .4em 0;
      border-right: 1px solid;
    }

    &:hover, &.checked {
      background: $color_main;
      color: $color_light;
      transition: .5s all;
    }
    
    span {
      display: table-cell;
      vertical-align: middle;
    }

    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      margin: 0;
      position: absolute;
    }
  }
}

.selected-tab {
    background-color: $color_light !important;
    color: $color_dark !important;
}

.list-option-container {
    margin-left: 200px;
    width: 1200px;
}

.switch-years {
    width: 350px;
}

.v-info {
  margin: 0 auto;
  width: 900px;
}

.btn-opis {
  color: $color_light;
  background-color: $color_main;
  border-color: $color_dark;
}
