#homepage {
  .animation-show {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;

    &.show {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s ease-in-out;
    }
  }

  #years {
    width: 70%;
    margin: 2.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .btn-year {
      border: 1px solid transparent;
      background-color: var(--color-primary);
      color: white;
      border-radius: 0.6rem;
      padding: 0.7rem 1rem;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--color-primary-hover);
        transition: background-color 0.3s ease-in-out;
      }

      &.selected {
        border: 2px solid var(--color-primary-active);
      }
    }
  }
}
