<section id="homepage">
  <opis-logo-animated />
  <opis-year-section />

  <section id="departments">
    @if (respDepartments.isLoading()) {
      <opis-loader />
    } @else if (respDepartments.hasValue()) {
      @let departments = respDepartments.value();

      @for (department of departments; track $index) {
        <opis-dep-card [department]="department" />
      }
    }
  </section>
  <p style="text-align: center; margin: 5rem; font-size: 1.5rem; color: #666">
    ⚠️ Nota: il programma è ancora in sviluppo ed è stato sperimentato solo all'interno del
    Dipartimento di Matematica e Informatica, nonostante siano visibili i risultati degli OPIS degli
    altri dipartimenti.
  </p>
</section>
