<section id="homepage">
  <opis-logo-animated></opis-logo-animated>
  <opis-year-section></opis-year-section>

  <section id="departments" class="animation-show" [class.show]="canShowDepartments()">
    @if (respDepartments.isLoading()) {
      <small>In caricamento ...</small>
    }

    @if (respDepartments.hasValue()) {
      @let departments = respDepartments.value();

      @for (department of departments; track $index) {
        <opis-dep-card [department]="department"></opis-dep-card>
      }
    }
  </section>
</section>
