<?php
  $host = 'localhost';
  $username = 'root';
  $password = 'password';
  $db_name = 'opis_db';


  //_____________________VAR__________________________//
  $link = "http://www.rett.unict.it/nucleo/val_did/anno_1617/";

 ?>
