<div class="container" id="deviation-sliders">
    <div class="row">
        <div class="col-3 my-auto">
            Scostamento media
        </div>
        <div class="col-9 custom-slider">
            <ng5-slider [(value)]="meanDeviation" [options]="meanSliderOptions"></ng5-slider>
        </div>
    </div>
    <div class="row">
        <div class="col-3 my-auto">
            Scostamento numerosità
        </div>
        <div class="col-9 custom-slider">
            <ng5-slider [(value)]="numerosityDeviation" [options]="numerositySliderOptions"></ng5-slider>
        </div>
    </div>
</div>