#department-page {

  .department-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-top {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      a {
        margin-bottom: 1rem;
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        padding-left: .7rem;

        .text {
          text-decoration: underline;
        }
      }

      h1 {
        background-color: var(--blue-500);
        color: white;
        margin: 1.2rem 0;
        padding: .6rem .7rem .5rem 1.5rem;
        border-top-left-radius: .7rem;
        border-bottom-left-radius: .7rem;

        @media(min-width: 700px) {
          margin: 1.5rem 0;
          padding-top: .5rem;
          padding-right: 2rem;
          font-size: 2.5rem;
        }

        @media(min-width: 1300px) {
          border-radius: .7rem;
          padding-right: 1.5rem;
        }
      }

      @media (min-width: 1300px) {
        width: 70%;
      }
    }

    &-bottom {
      border-left: 2px var(--blue-500) solid;
      border-right: 2px var(--blue-500) solid;
      padding: 2rem .7rem;
      margin-top: .5rem;
      margin-bottom: 1.5rem;
      width: 90%;

      &::before {
        content: attr(data-icon);
        font-family: 'Material Symbols Outlined';
        font-size: 140px;
        color: var(--blue-100);
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 0;
        pointer-events: none;
        white-space: nowrap;

        @media(min-width: 1300px) {
          left: 25%;
          top: 20%;
        }
      }

      >* {
        position: relative;
        z-index: 1;
      }

      h2 {
        text-align: center;
      }

      @media(min-width: 1300px) {
        width: 70%;
        padding: 3rem 1rem;
      }
    }
  }

  #cds {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    margin: 0 auto;

    h3 {
      font-weight: 500;
    }

    &.loading {
      align-items: center;
      justify-content: center;
      height: 20rem;
    }

    .cds {
      &-title {
        display: inline-flex;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        align-items: start;
        justify-content: start;
        padding-left: 0;


        li {
          width: 100%;

          button {
            width: 100%;
            display: inline-flex;
            text-align: start;
            padding-bottom: .5rem;
            border-bottom: 1px var(--gray-200) solid;

            strong {
              display: block;
              flex: 0 0 25%
            }

            span {
              display: block;
              flex: 0 0 75%;
            }
          }

        }
      }
    }

    @media(min-width: 1300px) {
      width: 70%;
    }
  }
}