/* You can add global styles to this file, and also import other style files */
@use 'reset';
@use 'palette';
@use 'scrollbar';

body {
  font-family: var(--font-sans);
  color: var(--color-text);
}

.animation-show {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
}
