/* You can add global styles to this file, and also import other style files */
@use 'reset';
@use 'palette';
@use 'scrollbar';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text);
}

.animation-show {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
}

.wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1300px) {
    width: 70% !important;
  }
}

.btn {
  &-nav {
    border-bottom: 1px var(--color-primary) solid;
    
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .7rem 1.8rem;

      &.active,
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-surface);
      }
    }
  }
}