name: Opis Deploy

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: "24.13.0"
      
      - name: install dependencies
        run: npm ci
      
      - name: build opis app
        run: npm run build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: "24.13.0"
      
      - name: install dependencies
        run: npm ci

      - name: deploy opis app
        uses: actions/deploy-pages@v1
        # with:
        #   branch: gh-pages
        #   folder: dist/opis-manager